<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <!-- Important bit -->
            <param-value>jersey</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!--<servlet>-->
    <!--<servlet-name>rest.hello</servlet-name>-->
    <!--<servlet-class>-->
    <!--jersey.HelloServlet-->
    <!--</servlet-class>-->
    <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>rest.hello</servlet-name>-->
    <!--<url-pattern>/hello/*</url-pattern>-->
    <!--</servlet-mapping>-->


    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>